<!DOCTYPE html>
<html lang="en">
<head>

    <title>
        Simple LMS - {% block title %}{% endblock %}
    </title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="">
	<meta name="author" content="CodedThemes, AppSeed" />
	{% load static %}
	<!-- Favicon icon -->
	<link rel="icon" href="{% static 'images/favicon.ico' %} " type="image/x-icon">

	<!-- vendor css -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body class="">

    {% block content %}{% endblock content %}

    <script src="{% static 'js/plugins/popper.min.js' %}"></script>
    <script src="{% static 'js/plugins/bootstrap.min.js' %}"></script>

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

</body>
</html>
